.list{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem;
  
}
@media(min-width:1250px){
  .list{
    grid-template-columns: auto auto auto;
    
  }
}



