.button{
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    background-color: transparent;
    border:3px solid #073a57;
    border-radius: 9px;
    padding: 0.5rem;   
    text-align: center;
    color:#073a57;
}

